{% extends "web/base.jinja" %}

{% block body %}
<div class="home-page">
    <section class="overview">

        <p class="loud">La <strong>asociación Python España</strong> es una asociación sin ánimo de lucro cuyo propósito es promover el uso del lenguaje de programación Python en España, servir como punto de encuentro a aquellos interesados en su uso y darles soporte en la medida de sus posibilidades.</p>
        <p>La asociación fue creada en 2013 y desde entonces ha prestado apoyo contable y organizativo a la <a href="http://es.pycon.org/">PyConES</a>, la conferencia nacional sobre el lenguaje Python, y <a href="/community/events">ayuda financiera a las comunidades locales</a>.</p>
        <p>Si quieres apoyar nuestra labor para que podamos abordar proyectos cada vez más ambiciosos, <a class="member" href="/page/quiero-ser-socio">hazte socio</a>. Estamos deseando escuchar tus propuestas.</p>

    </section>
    <section class="last-news">
        <h1>Últimas noticias:</h2>

        {% for article in page.object_list %}
        <article>
            <header>
                <h2><a href="{{ url("article", slug=article.slug) }}">{{ article.title }}</a></h2>
                <p>Creado <time datetime="{{ article.created_at.isoformat() }}">{{ article.created_at|date("D d M Y") }}</time>
                    por <a href="#">{{ article.created_by.get_full_name() }}</a></p>
            </header>

            {{ view.markup(article.content, truncate=1000)|safe() }}
        </article>
        {% else %}
        <article>
            <p>No hay artículos para mostrar.</p>
        </article>
        {% endfor %}

        {% include "web/include-paginator.jinja" %}
    </section>

</div>
{% endblock %}
