{% if paginator.num_pages > 1 %}
<div class="pagination">
    <span class="step-links">
        {% if page.has_previous() %}
            <a href="?page={{ page.previous_page_number() }}">más nuevos</a>
        {% endif %}

        <span class="current">
             pagina {{ page.number }} de {{ page.paginator.num_pages }}
        </span>

        {% if page.has_next() %}
            <a href="?page={{ page.next_page_number() }}">más viejos</a>
        {% endif %}
    </span>
</div>

{% endif %}
